/backend/.venv
/backend/sql_app.db
/backend/migrations
/backend/alembic.ini
/backend/sql_app.db
/backend/app/.pytest_cache
/backend/.pytest_cache
/backend/myapi.db
# Ignore security-related files
/backend/*.pem

# Ignore mkcert binary (assuming it's not needed in the project)
/backend/mkcert-v1.4.4-linux-amd64
